img, iframe {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle; }

::-moz-selection {
  background: #000;
  /* WebKit/Blink Browsers */
  color: #fbca21; }

::selection {
  background: #000;
  /* WebKit/Blink Browsers */
  color: #fbca21; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; }

.footer {
  padding-top: 0;
  font-size: 1.1em;
  background: #222 url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  color: #fff; }
  .footer__section {
    margin-bottom: 2em; }
  .footer__title {
    font-size: 1.5em; }
  .footer__brand {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-indent: -9999px;
    background: url("/assets/img/logo.png") no-repeat;
    background-size: contain; }
  .footer a {
    color: #fbca21 !important; }
  .footer__copyright {
    padding: 1em;
    text-align: center; }
    .footer__copyright p {
      margin: 0; }

.navbar {
  padding: 1em 3em;
  text-transform: uppercase;
  font-weight: normal;
  background: none;
  border: none;
  color: #fff; }
  @media screen and (max-width: 1200px) {
    .navbar {
      padding-left: 0;
      padding-right: 0; } }
  .navbar a {
    display: block;
    padding: 0.5rem 0.75rem !important;
    font-size: 90%;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: inherit; }
    .navbar a:hover, .navbar a:active {
      background: none !important;
      text-decoration: underline !important; }
    .navbar a.nav_highlight {
      margin-left: 0.5rem;
      font-weight: bold;
      border: 1px solid #fff;
      -webkit-border-radius: 3px;
              border-radius: 3px; }
  .navbar-toggle {
    position: relative; }
    .navbar-toggle:before {
      position: absolute;
      right: 100%;
      font-size: 80%;
      font-weight: bold;
      letter-spacing: 1px;
      content: 'MENU'; }
    .navbar-toggle .icon-bar {
      position: relative;
      left: 0;
      background: #fff;
      -webkit-transform-origin: 0;
          -ms-transform-origin: 0;
              transform-origin: 0;
      -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
              transform: rotate(0);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .navbar-toggle.is-active .icon-bar--1 {
      position: relative;
      left: 0.2em;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .navbar-toggle.is-active .icon-bar--2 {
      visibility: hidden;
      opacity: 0; }
    .navbar-toggle.is-active .icon-bar--3 {
      position: relative;
      left: 0.2em;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .navbar-brand {
    padding: 0.5em 1em; }
  @media screen and (max-width: 767px) {
    .navbar {
      padding: 0; }
      .navbar-brand {
        padding: 0.5em; }
      .navbar-header {
        position: relative;
        z-index: 9999; }
      .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: auto !important;
        max-height: none !important;
        background: black;
        border-bottom: 0.5em solid #fbca21;
        color: #fff; }
        .navbar-collapse:before {
          display: inline-block;
          vertical-align: middle;
          width: 0;
          height: 100%;
          margin-right: -2%;
          overflow: hidden;
          content: ''; }
        .navbar-collapse:after {
          display: none; }
      .navbar-nav {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        margin: 0;
        font-size: 2em; }
        .navbar-nav > li > a {
          margin-bottom: 0.5rem;
          font-weight: bold;
          letter-spacing: px;
          text-align: center;
          text-transform: uppercase;
          padding: 0.5em !important;
          border: none !important; }
      .navbar-social {
        text-align: center; }
        .navbar-social a {
          display: inline-block !important; } }

.intro {
  position: relative;
  padding: 4rem 0 2rem;
  margin: 0;
  text-align: center;
  background-color: #222;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff; }
  .intro--lg {
    padding: 12rem 0 10rem; }
    @media screen and (max-width: 450px) {
      .intro--lg {
        padding: 5em 0 3em; } }
  .intro:before {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: ''; }
  .intro:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
    content: ''; }
  .intro__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .intro__media .owl-stage-outer,
    .intro__media .owl-stage,
    .intro__media .owl-item {
      height: 100%; }
    .intro__media .owl-stage {
      -webkit-transform: translate3d(0, 0, 0) !important;
              transform: translate3d(0, 0, 0) !important; }
    .intro__media .owl-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
      .intro__media .owl-item.active {
        opacity: 1;
        visibility: visible; }
  .intro__image {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .intro__inner {
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: middle; }
  .intro__title {
    font-size: 4em;
    font-weight: normal;
    line-height: 0.9;
    letter-spacing: 1px;
    text-transform: uppercase; }
    @media screen and (max-width: 767px) {
      .intro__title {
        font-size: 2.5em; } }
    .intro__title small {
      font-size: 60%; }
  .intro__text {
    max-width: 40em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
    line-height: 1.2;
    color: #bbb; }
    .intro__text strong {
      color: #fff; }
    .intro__text a {
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
      .intro__text a:hover, .intro__text a:active {
        text-decoration: none; }
    @media screen and (max-width: 767px) {
      .intro__text {
        font-size: 1em;
        letter-spacing: 0;
        opacity: 1; } }
  .intro__cta {
    display: inline-block;
    width: 1.75em;
    height: 1.75em;
    font-size: 2.5em;
    line-height: 1.65;
    text-align: center;
    border: 0.1em solid;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #fff !important; }
    .intro__cta i {
      margin-left: 0.2em; }

.section {
  padding: 3em 0;
  color: #000; }
  .section__header {
    margin-bottom: 2em; }
  .section__title {
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    color: inherit; }
    @media screen and (max-width: 767px) {
      .section__title {
        font-size: 2em; } }
  .section__text {
    font-size: 1.2em;
    opacity: 0.8; }
  .section__slider {
    position: relative; }
    .section__slider .owl-dots {
      margin-top: 2em; }
    .section__slider .owl-nav {
      margin: 0; }
      @media screen and (max-width: 767px) {
        .section__slider .owl-nav {
          position: relative; } }
    .section__slider .owl-prev,
    .section__slider .owl-next {
      display: none !important;
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 2em;
      height: 2em;
      padding: 0 !important;
      margin-top: -1em !important;
      font-size: 3em !important;
      line-height: 2;
      text-align: center;
      background: none !important;
      color: inherit !important; }
      @media screen and (max-width: 767px) {
        .section__slider .owl-prev,
        .section__slider .owl-next {
          margin-top: 0 !important; } }
    .section__slider .owl-prev {
      left: 0; }
    .section__slider .owl-next {
      right: 0; }

.contact {
  background: #111 url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  color: #fff; }
  .contact a {
    color: #fbca21; }
  .contact i {
    font-size: 1.5em; }
  .contact__map {
    position: relative;
    height: 0;
    padding-bottom: 60%;
    max-height: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media screen and (max-width: 767px) {
      .contact__map {
        margin-bottom: 1em; } }
    .contact__map iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto; }

.classes {
  padding-top: 0;
  background: #fff url("https://www.transparenttextures.com/patterns/concrete-wall.png") !important;
  color: #000; }
  .classes__header {
    position: relative;
    padding: 2em 0 12em;
    margin-bottom: -11em;
    background: #111;
    color: #fff; }
  .classes__item {
    position: relative;
    margin-bottom: 2em; }
  .classes__head {
    position: relative; }
  .classes__media {
    display: block;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0.25em 0.25em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0.25em 0.25em 0 rgba(0, 0, 0, 0.2); }
  .classes__body {
    padding: 1em 0rem; }
  .classes__title {
    position: absolute;
    bottom: 0;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0rem;
    margin-bottom: 0;
    margin-right: 1rem;
    background: #fff;
    color: #000;
    font-weight: bold; }
    .classes__title a {
      color: inherit !important; }
  .classes__text {
    padding: 0 0.5rem; }
  .classes__cta {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #111;
    border-color: #111;
    color: #fff; }
    .classes__cta:hover, .classes__cta:active {
      background: #000;
      color: #fbca21; }
  .classes .thumbnail {
    padding: 0.5em;
    border: none; }

.story {
  background: #fff url("https://www.transparenttextures.com/patterns/rocky-wall.png"); }
  @media screen and (max-width: 767px) {
    .story__header {
      margin-bottom: 0; } }
  @media screen and (max-width: 767px) {
    .story__media {
      margin-bottom: 1rem; } }
  .story .btn {
    font-weight: bold;
    background: #000 !important;
    border-color: #000 !important;
    color: #fff !important; }

.testimonials blockquote {
  margin: 0;
  border-color: #fbca21; }
  .testimonials blockquote footer {
    font-size: 1.5em;
    text-align: center;
    color: #fbca21; }
    .testimonials blockquote footer:before {
      display: none; }

.transformations {
  position: relative;
  background: #111 url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  color: #fff; }
  @media screen and (min-width: 767px) {
    .transformations:before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 0.5em;
      background: #fbca21;
      content: ''; } }
  .transformations__items {
    text-align: center; }
  .transformations__item {
    float: none;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
    @media screen and (max-width: 450px) {
      .transformations__item {
        display: block;
        width: auto; } }
  .transformations__filter {
    margin-bottom: 2rem;
    text-align: center; }
  .transformations .article__title {
    background: #111;
    border-color: #0e0e0e;
    color: #fff; }
  .transformations .article__cta {
    background: #fbca21 !important;
    color: #000 !important; }

.transformation__gallery {
  padding: 0.5rem;
  margin-bottom: 2rem;
  background: #111;
  -webkit-border-radius: 3px;
          border-radius: 3px; }
  .transformation__gallery .owl-item {
    float: none;
    display: inline-block;
    vertical-align: middle; }

@media screen and (max-width: 450px) {
  .blog__item {
    display: block;
    width: auto; } }

.post__content {
  margin-bottom: 2em; }

.post__share {
  text-align: center; }

@media screen and (max-width: 1000px) {
  .container {
    width: auto !important; } }

.col-align-v {
  float: none;
  display: inline-block;
  vertical-align: middle; }
  @media screen and (max-width: 767px) {
    .col-align-v {
      display: block; } }

.classes {
  background: #eee; }

.btn {
  text-transform: uppercase; }

.breadcrumb {
  margin: 0;
  font-size: 90%;
  background: #111;
  border-bottom: 1px solid #000;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #888; }
  .breadcrumb__items {
    padding: 0;
    margin: 0;
    list-style-type: none; }
  .breadcrumb__item {
    display: inline-block;
    margin-right: 0.5rem; }
    .breadcrumb__item:after {
      display: inline-block;
      margin-left: 0.75rem;
      font-size: 75%;
      content: '>';
      opacity: 0.5; }
    .breadcrumb__item:last-child:after {
      display: none; }
  .breadcrumb__link {
    color: inherit; }
    .breadcrumb__link:hover, .breadcrumb__link:active {
      color: #fbca21; }

.share a {
  color: #000; }
  .share a:hover, .share a:active {
    color: #fbca21; }

.share i {
  font-size: 2em; }

.article {
  margin-bottom: 2em; }
  .article__head {
    position: relative; }
  .article__media {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 1rem;
    padding-bottom: 100%;
    background-color: #111;
    -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.2); }
    .article__media img, .article__media .img {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0;
      display: block;
      margin: auto;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      opacity: 1; }
    .article__media .img {
      background-size: cover;
      background-position: 50% 0; }
    .article__media:hover .img, .article__media:hover img {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05); }
  .article__title {
    position: absolute;
    left: -0.25rem;
    bottom: -0.25rem;
    z-index: 2;
    padding: 0.5rem 0.5rem 0 0.25rem;
    margin: 0 1rem 0 0;
    font-weight: bold;
    background: #fff;
    border-top: 0.25rem solid #ccc;
    border-right: 0.25rem solid #ccc;
    color: #000; }
    .article__title a {
      color: inherit; }
  .article__text {
    margin-bottom: 1rem; }
  .article__cta {
    display: block;
    font-weight: bold;
    background: #111 !important;
    border-color: #111 !important;
    color: #fff !important; }

#video-modal {
  z-index: 99999; }
  #video-modal .modal-content {
    background: none; }

html {
  font-size: 16px; }

body {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  background: #fff url("https://www.transparenttextures.com/patterns/concrete-wall.png") !important; }
