---
layout: default
banner:
  images:
    - https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/15873116_568082153380353_9011122106871954272_n.jpg?oh=aaed86a0cffa79ae3850674770a59b75&oe=591F3F40
    - https://scontent-lhr3-1.xx.fbcdn.net/v/t1.0-9/16142545_574581262730442_8470239589938588830_n.jpg?oh=c17256e91513566e3bdd347d12163186&oe=59451001
    - https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/10451178_326035267585044_187388856617765806_n.jpg?oh=5e4b183cd38594c9a80ec6a49a07aa11&oe=59076E64
---

<div class="intro intro--lg">
  <div class="intro__media owl-carousel owl-theme js-home-slider">
    {% for x in page.banner.images %}
      <div class="intro__image" style="background-image: url('{{ x }}')"></div>
    {% endfor %}
  </div>
  <div class="intro__inner">
    <div class="container">
      <h1 class="intro__title editable"><strong>Hard&nbsp;Work</strong> Beats&nbsp;Talent</h1>
      <p class="intro__text"><strong>Primal Fitness</strong> is a semi private gym specializing in <strong>1 to 1 personal training</strong> and <strong>small group training</strong></p>
      <p><a href="#video-modal" class="intro__cta" data-toggle="modal"><span class="sr-only">Watch Video</span> <i class="fa fa-play"></i></a></p>
    </div>
  </div>
</div>



<div id="story" class="section story">
  <div class="container">

    <div class="section__header story__header text-center">
      <h2 class="story__title section__title editable">Our Story</h2>
    </div>

    <div class="row">
      <div class="col-sm-6 col-align">
         <div class="story__media">
           <img class="editable" src="/assets/img/team.jpg" alt="">
         </div>
       </div><!--
    --><div class="col-sm-6 col-align">

        <div class="editable">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ipsum diam, volutpat at neque dapibus, sodales accumsan justo. Suspendisse diam nibh, porttitor et convallis quis, tincidunt ut nibh. Donec eget nulla at elit pretium condimentum id eu sapien. Morbi hendrerit, nibh quis sollicitudin auctor, arcu ex iaculis nunc, viverra porta ante ex ac ante. Sed vitae semper lectus, id hendrerit justo. Vestibulum id mi massa. Nulla quis tempor erat.</p>
        </div>
        <p><a href="/about.html" class="btn btn-primary editable">Meet the Team</a></p>
      </div>
    </div>
  </div>
</div>



{% include classes.html %}



{% include transformations.html %}


<div id="testimonials" class="section testimonials">
  <div class="container">

    <div class="section__header text-center">
      <h2 class="section__title editable">What our clients say</h2>
    </div>

  </div>

  <div class="">
    <div class="testimonials__items section__slider owl-carousel owl-theme">

      {% for testimonial in site.data.testimonials %}
        <div class="testimonials__item">
          <div class="container">
            <blockquote>
              <p c>{{ testimonial.quote }}</p>
              <footer>{{ testimonial.name }}</footer>
            </blockquote>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>



<div id="video-modal" class="modal fade" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="video-wrapper">
          <iframe id="video" width="854" height="480" src="https://www.youtube.com/embed/_ff29Xl26Zc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>
