.classes {
  padding-top: 0;
  // padding-bottom: 0;
  background: #fff url('https://www.transparenttextures.com/patterns/concrete-wall.png') !important;
  // border-bottom: 1em solid #111;
  color: #000;

  &__header {
    position: relative;
    padding: 2em 0 12em;
    margin-bottom: -11em;
    background: #111;
    color: #fff;
  }

  &__item {
    position: relative;
    margin-bottom: 2em;
    // padding: 0.2em;
    // background: #111;
    // border: 1px solid #111;
    // border-radius: 3px;
  }

  &__head {
    position: relative;
  }

  &__media {
    display: block;
    text-align: center;
    // border: 0.5rem solid #fff;
    background: #fff;
    box-shadow: 0.25em 0.25em 0 rgba(#000, 0.2);
  }

  &__body {
    padding: 1em 0.5rem;
    // text-align: center;
    // background: #fff;
    // color: #000;
  }

  &__title {
    position: absolute;
    bottom: 0;
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    margin-bottom: 1rem;
    background: #fff;
    color: #000;
    font-weight: bold;

    a {
      color: inherit !important;
    }
  }

  &__cta {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    // // background: #000;
    // border: 1px solid #000;
    // color: #000;
    background: #000;
    border-color: #000;
    color: #fff;

    &:hover,
    &:active {
      background: #000;
      color: $c-primary;
    }
  }

  .thumbnail {
    padding: 0.5em;
    border: none;
  }
}
