.contact {
  background: #0f0f0f;
  color: #fff;

  a {
    // font-size: 1.2em;
    color: $c-primary;
  }

  i {
    font-size: 1.5em;
  }

  &__map {
    position: relative;
    overflow: hidden;
    display: block;
    height: 0;
    padding-bottom: 60%;
    max-height: 400px;
    box-sizing: border-box;

    @media screen and (max-width: 1200px) {
      padding-bottom: 80%;
    }

    @media screen and (max-width: 767px) {
      // display: none;
      margin-bottom: 2em;
    }

    img {
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      left: -100%;
      margin: auto;
      max-width: none;
      max-height: none;
    }
  }
}
