.footer {
  padding-top: 0;
  font-size: 1.1em;
  background: #010101 url('https://www.transparenttextures.com/patterns/concrete-wall.png');
  border-top: 1px solid #000;
  color: #fff;

  &__section {
    margin-bottom: 2em;
  }

  &__title {
    font-size: 1.5em;
    // text-transform: uppercase;
  }

  &__brand {
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-indent: -9999px;
    background: url('/assets/img/logo.png') no-repeat;
    background-size: contain;
  }

  a {
    color: $c-primary !important;
  }

  &__copyright {
    padding: 1em;
    // margin-top: 2em;
    text-align: center;

    p {
      margin: 0;
    }
  }
}
