.intro {
  position: relative;
  padding: 3rem 0 2rem;
  // height: 50vh;
  margin: 0;
  // text-align: center;
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  &--lg {
    padding: 8rem 0 8rem;

    @media screen and (max-width: 450px) {
      padding: 5em 0 3em;
    }
  }

  &:before {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    // min-height: 12rem;
    height: 100%;
    content: '';
  }

  &--lg:before {
    // min-height: 50vh;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(#000, 0.7);
    // border-bottom: 1px solid #000;
    // box-shadow: inset 0 -3em 2em -2em rgba(#000, 0.5);
    content: '';
  }



  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .owl-stage-outer,
    .owl-stage,
    .owl-item {
      height: 100%;
    }

    .owl-stage {
      transform: translate3d(0, 0, 0) !important;
    }

    .owl-item {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 1s ease-in-out;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  &__inner {
    position: relative;
    z-index: 3;
    // display: inline-block;
    vertical-align: middle;
  }

  &__title {
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px 3px #000;

    @media screen and (max-width: 767px) {
      font-size: 2.5em;
    }

    strong {
      // font-size: 1.2em;
      // font-weight: normal;
    }

    small {
      font-size: 60%;
    }
  }

  &__text {
    max-width: 40em;
    margin-bottom: 1em;
    // margin-right: auto;
    // margin-left: auto;
    font-size: 1.1em;
    line-height: 1.4;
    text-shadow: 0 1px 1px 3px #000;
    color: #ccc;

    strong {
      color: #fff;
    }

    a {
      display: inline-block;

      &:hover,
      &:active {
        text-decoration: none;
      }
    }

    @media screen and (max-width: 767px) {
      font-size: 1em;
      letter-spacing: 0;
      opacity: 1;
    }
  }

  &__cta {
    // padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    // font-size: 3rem;
    background: $c-primary !important;
    border: none;
    color: #111 !important;

    i {
      float: right;
      margin-top: 0.25rem;
      margin-left: 0.5rem;
      opacity: 0.2;
      // float: right;
      // vertical-align: middle;
      // font-size: 75%;
    }
  }
}
