.navbar {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: normal;
  // letter-spacing: 1px;
  background: none;
  border: none;
  color: #fff;

  a {
    // text-shadow: 0 0 3px #000;
    color: inherit;

    &:hover,
    &:active {
      background: none !important;
      text-decoration: underline !important;
    }
  }

  &-toggle {
    position: relative;

    &:before {
      position: absolute;
      right: 100%;
      font-size: 80%;
      font-weight: bold;
      letter-spacing: 1px;
      content: 'MENU';
    }


    .icon-bar {
      position: relative;
      left: 0;
      background: #fff;
      transform-origin: 0;
      transform: rotate(0);
      transition: all 0.3s ease-in-out;
    }

    &.is-active {
      .icon-bar {
        &--1 {
          position: relative;
          left: 0.2em;
          transform: rotate(45deg);
        }
        &--2 {
          visibility: hidden;
          opacity: 0;
        }
        &--3 {
          position: relative;
          left: 0.2em;
          transform: rotate(-45deg);
        }
      }
    }
  }

  &-brand {
    padding: 0.5em 1em;
  }

  @media screen and (max-width: 767px) {
    padding: 0;

    &-brand {
      padding: 0.5em;
    }

    &-header {
      position: relative;
      z-index: 9999;
    }
    &-collapse {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto !important;
      max-height: none !important;
      background: rgba(#000, 1);
      border-bottom: 0.5em solid $c-primary;
      color: #fff;

      &:before {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        margin-right: -2%;
        overflow: hidden;
        content: '';
      }
      &:after {
        display: none;
      }
    }
    &-nav {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0;
      font-size: 2em;

      & > li > a {
        font-weight: bold;
        // font-style: italic;
        letter-spacing: px;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5em;
      }
    }
    &-social {
      text-align: center;
      a {
        display: inline-block !important;
      }
    }
  }
}
