.post {

  &__meta {
    float: left;

    @media screen and (max-width: 767px) {
      float: none;
    }
  }

  &__share {
    float: right;
    margin-bottom: 1rem;

    @media screen and (max-width: 767px) {
      float: none;
    }
  }

  &__content {
    clear: both;
    margin-bottom: 2em;
  }

  &__pagination {
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &__next {
    float: right;
  }

  &__prev {
    float: left;
  }

  @media screen and (max-width: 767px) {
    &__next,
    &__prev {
      float: none;
      margin-bottom: 1em;
    }
  }
}
