.post {

  &__meta {
    float: left;
  }

  &__share {
    float: right;
    margin-bottom: 1rem;
  }

  &__content {
    clear: both;
    margin-bottom: 2em;
  }

  &__pagination {
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &__next {
    float: right;
  }

  &__prev {
    float: left;
  }
}
