.transformations {
  position: relative;
  background: #111 url('https://www.transparenttextures.com/patterns/concrete-wall.png');
  // border-left: 0.5em solid $c-primary;
  color: #fff;

  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0.5em;
    background: $c-primary;
    content: '';
  }

  &__item {
    margin-bottom: 4em;
    text-align: center;

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
}
