@import "header";
@import "footer";
@import "nav";
@import "intro";
@import "section";
@import "contact";
@import "classes";
@import "story";
@import "testimonials";
@import "transformations";
@import "blog";
@import "post";

@media screen and (max-width: 1000px) {
  .container {
    width: auto !important;
  }
}

.col-align-v {
  float: none;
  display: inline-block;
  vertical-align: middle;

  @media screen and (max-width: 767px) {
    display: block;
  }
}

.classes {
  background: #eee;
}
