<div id="classes" class="section classes">

  <div class="classes__header section__header text-center">
    <div class="container">
      <div class="">
        <h2 class="section__title editable">What we can do for you</h2>
        <div class="editable section__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, mollitia libero cumque!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">

      {% for class in site.classes %}
        <div class="col-sm-6 col-md-3">
          <div class="article">
            <div class="article__head">
              <a href="{{ site.baseurl }}{{ class.url }}" class="article__media">
                <img src="{{ site.baseurl }}{{ class.image }}" alt="">
              </a>
              <h3 class="article__title"><a href="{{ site.baseurl }}{{ class.url }}">{{ class.title }}</a></h3>
            </div>
            <div class="article__body">
              <div class="article__text">{{ class.description }}</div>
              <a href="{{ site.baseurl }}{{ class.url }}" class="btn article__cta">Learn More</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
