{% assign transformations = site.transformations | reverse %}

<div id="transformations" class="section transformations">

  <div class="container">
    <div class="section__header text-center">
      <h2 class="section__title editable">Here is the Proof</h2>
      <div class="editable section__text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem rerum a blanditiis.</p>
      </div>
      <p><a href="{{ site.baseurl }}/stories/" class="transformations__cta editable btn btn-primary">View all Stories</a></p>
    </div>
  </div>

  <div class="container">
      <p>{{ site.transformations["bree"] | jsonify }}</p>
    <div class="row">
      {% for transformation in page.transformations %}
        <div class="col-sm-4">

          <div class="article">
            <div class="article__head">
              <a href="{{ site.baseurl }}{{ site.transformations[transformation].url }}" class="article__media">
                <img src="{{ site.baseurl }}{{ site.transformations[transformation].images[0].image }}" alt="">
              </a>
              <h3 class="article__title"><a href="{{ site.baseurl }}{{ site.transformations[transformation].url }}">{{ site.transformations[transformation].name }}</a></h3>
            </div>
            <div class="article__body">
              <div class="article__text">{{ site.transformations[transformation].description }}</div>
              <a href="{{ site.baseurl }}{{ site.transformations[transformation].url }}" class="btn article__cta">Learn More</a>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
  </div>

</div>
