.breadcrumb {
  margin: 0;
  background: #111;
  border-radius: 0;
  color: #fff;

  &__items {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  &__item {
    display: inline-block;
    margin-right: 1rem;

    &:after {
      display: inline-block;
      margin-left: 1rem;
      font-size: 75%;
      content: '>';
    }

    &:last-child:after {
      display: none;
    }
  }

  &__link {
    color: inherit;

    &:hover,
    &:active {
      color: $c-primary;
    }
  }
}
