$c-primary: #faca2e;

@import "base/main";
@import "layouts/main";
@import "blocks/main";

#classes,
#story,
#testimonials,
#transformations,
#contact {
  // display: none;
}
html {
  font-size: 16px;
}
body {
  font-size: 1em;
}
