---
layout: default
---

<div class="intro" style="background-image: url('{{ page.banner_image }}')">
  <div class="intro__inner">
    <div class="container">
      {% if page.title %}
        <h1 class="intro__title editable">{{ page.title }}</h1>
      {% endif %}
      {% if page.is_post %}
        <p><small>Posted on {{ page.date | date: "%d %B, %Y" }}</small></p>
      {% endif %}
      {% if page.description and page.is_post != true %}
        <p class="intro__text editable">{{ page.description }}</h1>
      {% endif %}
    </div>
  </div>
</div>

{% include breadcrumb.html %}

{{ content }}
