---
layout: default
---

<div class="intro" style="background-image: url('{{ site.baseurl }}{{ page.banner_image }}')">
  <div class="intro__inner">
    <div class="container">
      {% if page.title %}
        <h1 class="intro__title editable">personal training</h1>
      {% endif %}
      {% if page.description and page.is_post != true %}
        <p class="intro__text editable">Wherever you are on your exercise journey, Our personal training packages will get you there in the fastest and safest way possible.</p></div>
  </div>
</div>

{% include breadcrumb.html %}

{{ content }}
