---
layout: page
---

<div class="section">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <div class="post__content">
          {{ content }}
        </div>

        <div class="post__share">
          <h4>Share Post</h4>
          <div class="share">
            <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url | absolute }}" target="_blank" rel="nofollow" class="btn btn--icon btn--facebook"><i class="fa fa-fw fa-facebook"></i></a>
            <a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ site.baseurl }}{{ page.url }}" class="btn btn--icon btn--email"><i class="fa fa-fw fa-envelope text-email"></i></a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
