---
layout: page
---

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
          <div class="transformation__gallery">
            <div class="owl-carousel owl-theme js-transformation-gallery">
              {% for gallery_item in page.images %}
                <img src="{{ gallery_item.image }}" alt="">
              {% endfor %}
            </div>
          </div>
      </div>
      <div class="col-sm-8">
        {{ content }}

        <a href="/transformations/" class="editable btn btn-primary">More Success Stories</a>
      </div>
    </div>
  </div>
</div>
